
/* static/styles.css */

/* Style for buttons */

button {
    background-color: #4CAF50; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding for top/bottom and left/right */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Inline-block display */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margins for spacing */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for hover */
}
/* Button hover effect */
button:hover {
    background-color: #45a049; /* Darker green on hover */
}
table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.button_container {
    margin-bottom: 20px; /* Space below the form */
}

form {
    display: flex;
    flex-direction: column; /* Stack inputs vertically */
    width: 300px; /* Set a width for the form */
}

form div {
    margin-bottom: 10px; /* Space between inputs */
}

input[type="text"],
input[type="number"],
input[type="submit"] {
    padding: 8px; /* Add some padding for better appearance */
    font-size: 16px; /* Increase font size for better readability */
}

input[type="submit"] {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor on hover */
}

input[type="submit"]:hover {
    background-color: #45a049; /* Darker green on hover */
}

.header_container{
    margin-bottom: 20px; /* Space below the form */
    text-align: center;
    background-color: #45a049; /* Darker green on hover */
    background-color: #45a049;
}